.Home-image {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Home-image {
        animation: Home-image-spin infinite 20s linear;
    }
}

@keyframes Home-image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}